body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
}

.header {
    display: flex;
}

.brand {
    padding: 20px 0px;
    font-size: 32px;
}

.main {
    flex-grow: 1;
}

.footer {
    flex-shrink: 0;
}

form {
    display: flex;
    flex-direction: column;
}

form input[type=url] {
    border-radius: 10px;
    padding: 10px;
    font-size: 24px;
    border-style: solid;
    margin: 20px 0;
}

form input[type=button] {
    border-radius: 10px;
    border-style: solid;
    padding: 10px 0px;
    font-size: 24px;
    color: white;
    background: steelblue;
    margin: 20px 0;
}

form input[type=submit] {
    border-radius: 10px;
    border-style: solid;
    padding: 10px 0px;
    font-size: 24px;
    color: white;
    background: steelblue;
    margin: 20px 0;
}

form textarea {
    height: 200px;
    font-size: 14px;
    padding: 10px;
    resize: none;
    margin: 20px 0;
}